@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Fascinate&family=Roboto:wght@100&display=swap" rel="stylesheet');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Fascinate', cursive;
}
h1{
font-size:50px;
line-height: 64px;
color:black;
}
h2{
    font-size:46px;
    line-height: 54px;
    color:black;
    transition: 0.3s ease;
   
    }
    h2:hover{
        text-decoration: underline;
        
    }
    h4{
        font-size:20px;
        line-height: 64px;
        color:black;
        }
        h4{
            font-size:20px;
            color:black;
            }
            h6{
                font-weight:700;
                font-size:12px;
            }
           

#header{
    display:flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px 80px; 
    background: black;
    box-shadow: 0 5px 15px whitesmoke ;
    top:0px;
    height: 80px;
}
#navbar{
    display:flex;
    text-align: center;
    justify-content: space-between;
    
}
#navbar li{
list-style:none;
padding:0 20px;

}
#logo{
   
    width: 100px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 0 px;
    padding-top:0px;
    padding-bottom:20px;
    font-size: 100px;
   

}
#navbar li a{
text-decoration:none;
font-size: 18px;
font-weight: 600;
color:aliceblue;
transition: 0.3s ease;
padding-top: 50px;
}
#navbar li a:hover{
    color:rgb(159, 159, 232);
    text-decoration: underline ;

}
#actor{
    background-image: url("girlnbag.jpg");
    background-color: blanchedalmond;
    color:rgb(54, 50, 50);
    height:90vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;
}
#actor h4{
    padding-bottom: 15px;
    color:rgb(104, 93, 93);
}
#actor h2{
    color:rgb(99, 92, 92);
}
#actor button {
    background-color: #cf512e; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  #actor button:hover {
    box-shadow: 0 12px 16px 0 rgba(124, 114, 114, 0.942),0 17px 50px 0 rgba(219, 198, 169, 0.19);
  }
#product1{
    text-align: center;
}
  #product1 .pro{
    font-family: 'BhuTuka Expanded One', cursive;
    width:23%;
    min-width: 250px;
    padding:10px 10px;
    border: 1px solid rgb(205, 217, 222);
    background-color:  rgb(214, 230, 236);
    border-radius:10px;
    cursor:pointer;
    margin:15px 0;
    transition:0.3s ease;
    position:relative;
}
#product1 .pro img:hover{

    box-shadow:20px 20px 20px rgb(188, 217, 222) ;
}

#product1 .pro .des{
    text-align:start;
    padding:10px 0;
}
.star{
    color:orange;
    font-size: 12px;
}
.pro-container .cart{
    text-align:center;
    width:100px;
    height:50px;
    background-color: rgb(222, 214, 214);
    border-radius:10px;
    font-weight: bold;
    line-height: 90px;
    border:1px solid rgb(158, 186, 193);
    padding:20px 20px;
    display:inline;
    
    font-size: 18px;
    color:rgb(176, 156, 105);
    background-color: rgb(207, 194, 194);

    }
    .pro-container{
        display:inline-block;
    }
    #product1 .pro img{
        max-width:100%;
max-height:100%;
    }
.pro-container .cart:hover{
box-shadow: 5px 5px 10px rgb(206, 195, 136);
    }
    .pro-container a{
        text-decoration: none !important;
    }
    #sm-banner .banner-box{
        background-image: url("enjoy.jpg");
        border-radius: 40px;
        background-color: blanchedalmond;
        height: 600px;
        width:600px;
        background-size: cover;
        background-position: top 25% right 0%;
        display:inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 5px;
        float:left;
        padding-bottom: 200px;
        border:5px ridge wheat;
        float:left;
     
    }
    #sm-banner1 .banner-box{
        background-image: url("misl.jpg");
        border-radius: 40px;
        background-color: blanchedalmond;
        height: 600px;
        width:600px;
        background-size: cover;
        background-position: top 25% right 0%;
        display:inline-flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        padding-left: 10px;
        float:right;
        padding-bottom:300px;
        border:5px ridge wheat;
        padding-left: 10px;
        line-height:1.6;
        text-align: start;
    }
    #sm-banner1 .banner-box .button{
        margin-bottom:80px;
    }
    #sm-banner{
        margin-left:100px;
    }
    #sm-banner1{
        margin-right:100px;
    }
    #newsletter{
        background-size: cover;
        width:100%;
        height:300px;
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        align-items: center;
        position:absolute;
        overflow: hidden;
        margin-top: 700px;
        border-top: 30px solid rgb(240, 236, 227);
       background-image: url("bags.jpg");
       border-bottom: 30px solid rgb(240, 236, 227);
       box-shadow:2px 2px 5px rgb(64, 56, 56) ;
       
       
    }
    .newstext{
       background-color: antiquewhite;
       opacity:0.5;
       width:100%;
       bottom:0;
       position: absolute;
       line-height: 0.5;
       padding-bottom: 30px;
    
    }

      

   